/*@font-face {
    font-family: 'Apex';
    src: url("police/Apex-BlackSlanted.ttf");
}
*/

@font-face {
    font-family: 'Apex';
    src: url("police/Apex-Black.ttf");
}

@font-face {
    font-family: 'Apex_thin';
    src: url("police/Apex-Bold.ttf");
}

*{
    font-family: 'Apex';
}

header h1{
    display: flex;
    justify-content: center;
    font-size: 3em;
    text-shadow: 5px 5px 5px black;
    
}

p{
    font-family: 'Apex_thin';
    text-shadow: 5px 5px 5px black;
}

header > a > h1{
    font-size: 5em;
}
body p {
    font-size: 2em;
}
header p{
    display: flex;
    justify-content: center;
}

body h1{
    color : red;
}

#Apexdle{
    letter-spacing: 10px;
}

a{
    text-decoration: none;
}

.imgPrincipal{
    width: 300px;
    height: 100px;
}

#containerRow{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
}

.mapButtons{
    margin-right : 2%;
    padding: 1rem;
    border-radius: 10px;
    background-color:red;
    color:#fff;
    font-weight: bold;
    border:none;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

body{
    color : white;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
                url('../image/apexfond3.jpg'); ;    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
    background-attachment: fixed;
}


img{
    display: flex;
    justify-content: center;
    margin : 2%;
}

#locationImage{
    color : white;
    display: flex;
    justify-content: center;
    max-width: 90%;
    max-height: 90%;
    
}

#ConteneurImageLocation{
    background-color: rgb(128,128,128,0.7);
    width: 800px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

#location{
    display: flex;
    justify-content: center;
    
}

#map-canvas {
    border: 2px solid #333;
    display: none;
}


#submit-guess {
    display: none;
    margin-right : 2%;
    padding: 1rem;
    border-radius: 10px;
    background-color:red;
    color:#fff;
    font-weight: bold;
    border:none;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    width: 20%;
    cursor: pointer;

}

#ConteneurCanvas{
    justify-content: space-between;
}

#bordure{
    padding-top: 5%;
    display: flex;
    justify-content: center;
}
